/* CSS DOCUMENT */

h1
{
  color: rgb(255,207,64);
  font-size: 3em;
  font-family: Leisha;
}

h2
{
  font-family: Proxima Nova;
}
h3
{
  color: rgb(79,91,102);
  font-family: Proxima Nova;
}
h4
{
  color: rgb(167,173,186);
  font-family: Proxima Nova;
}
  
