/*CSS DOCUMENT*/

@import url("https://use.typekit.net/zsm0qxb.css");
   
div.container
{
   max-width: 60em;
   margin: auto;
}
body
{
   background-color: rgb(229, 229, 229);
}
header
{
   padding: 0.25em;
   font-family: "Proxima Nova", sans-serif;
}
h1
{
   color: rgb(117, 44, 26);
   margin: 1.5em;
}
h2
{
   color: rgb(155, 69, 30);
   margin: 1.5em;
}
h3
{
   color: rgb(155, 69, 30);
}
h6
{
   background-color: rgb(163, 160, 131);
}
main
{
   display: grid;
   grid-template-columns: 50% 50%;
   font-family: "Proxima Nova", sans-serif;
}
figure
{
   display: grid;
   grid-template-columns: 75% auto; /*means auto is 25% in this case*/
}
figcaption
{
   background-color: rgb(245, 215, 161);
   font-size: 1em;
   font-family: sans-serif;
   padding: 1em;
}
img
{
   width: 100%
}
