/*CSS DOCUMENT*/

div.container
{
   max-width: 40em;
   margin: auto;
}
body
{
   background-color: rgb(229, 229, 229);
   font-family: helvetica;
}
header
{
   padding: 0.75em;
}
h1
{
   color: rgb(50, 39, 33);
   font-family: Proxima Nova;
   margin: 1.25em;
}
h2
{
   color: rgb(90, 43, 10);
   margin: 1.5em;
}
figure
{
   display: grid;
   grid-template-columns: 70% auto; /*means auto is 30% in this case*/
}
figcaption
{
   background-color: rgb(198, 195, 190);
   font-size: 1em;
   font-family: sans-serif;
}
img
{
   width: 100%
}
