/* CSS DOCUMENT */

div.container
{
    max-width: 40em;
    margin: auto;
}

body
{
   background-color: rgb(229, 229, 229);
   font-family: helvetica;
}

h1
{
   color: rgb(50, 39, 33);
   font-family: Proxima Nova;
   margin: 1.25em;
}

h2
{
   color: rgb(90, 43, 10);
   margin: 1.5em;
}

figcaption
{
   background-color: rgb(198, 195, 190);
   font-size: 1em;
}

img
{
   width: 100%
}

p 
{
   font-family: sans-serif;
   font-size: 20px;
}
